<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    
    <style>
         body {
          background: linear-gradient(135deg, #2c416d 0%, #0ebeb6 100%);
        } 
    </style>
    
</head>

<body class="text-black bg-blue-700">
    <div class="container mx-auto p-6">
        <h2 class="text-4xl font-bold mb-6 text-center">Todo List</h2>
        
        <form action="/api/profile/" method="post" class="bg-white p-6 rounded-2xl shadow-2xl mb-6">
            <div class="mb-4">
                <label for="firstName" class="block text-md font-semibold">First Name:</label>
                <input type="text" id="firstName" name="firstName" class="mt-1 p-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Add Your First Name" required>
            </div>
            <div class="mb-4">
                <label for="lastName" class="block text-md font-semibold]">Last Name:</label>
                <input type="text" id="lastName" name="lastName" class="mt-1 p-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Add Your Last Name" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-md font-semibold">Email:</label>
                <input type="email" id="email" name="email" class="mt-1 p-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Add Your Email" required>
            </div>
            <button type="submit" class="bg-indigo-800 text-white px-4 py-2 p-2 rounded-lg shadow hover:bg-indigo-600">Add Profile</button>
        </form>
        

        <div class="bg-white p-6 rounded-2xl shadow-2xl">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-blue-200">
                    <tr>
                        <th class="px-6 py-4 text-left text-xs font-bold uppercase tracking-wider">Id</th>
                        <th class="px-6 py-4 text-left text-xs font-bold uppercase tracking-wider">First Name</th>
                        <th class="px-6 py-4 text-left text-xs font-bold uppercase tracking-wider">Last Name</th>
                        <th class="px-6 py-4 text-left text-xs font-bold uppercase tracking-wider">Email</th>
                        <th class="px-6 py-4 text-left text-xs font-bold uppercase tracking-wider">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-blue-200">
                    <% for(let i = 0; i < profile.length; i++) { %>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold"><%= i + 1 %></td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold"><%= profile[i].firstName %></td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold"><%= profile[i].lastName %></td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold"><%= profile[i].email %></td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold">
                                
                                   <!-- Edit Button -->
                            <form action="/api/profile/<%= profile[i]._id %>/edit" method="get">
                                <button type="submit" class="bg-indigo-700 text-white text-md font-semibold px-4 py-3 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-colors duration-200">Edit </button>
                            </form>

                            <!-- Delete Button -->
                            <form action="/api/profile/<%= profile[i]._id %>" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="bg-red-600 text-white font-semibold px-2 py-3 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition-colors duration-200" onclick="return confirm('Are you sure you want to delete this profile?');">Delete</button>
                            </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
